.carousel-inner img
{
width: 100%; /* Set width to 100% */
margin: auto;
}
.carousel-caption h3
{

}
@media (max-width: 600px)
{
.carousel-caption
{
  display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
}
}
body
{
  background-color:#1FABE0;
}
img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
